Binaries/
bin/
obj/
.nuget/
*.nupkg
*.user
*.suo
*.dll
TestResult.xml
*.VisualState.xml
UNUSED*
UNUSED*/
Logs/
packages/
Server/Mason.IssueTracker.Server.Host/App_Data/IssueTracker.db
Server/Mason.IssueTracker.Server.Host/IssueTrackerServiceLog.txt
