<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{58896CD0-BAD9-4F20-82CF-822D384573E3}" Name="API Explorer" Version="2.0.0.0" Language="1033" Codepage="windows-1252"
           Manufacturer="Jørn Wildt" UpgradeCode="B56816F4-C74D-482F-AFC8-422EE8003C79">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  />

    <MajorUpgrade DowngradeErrorMessage="A newer version of API Explorer is already installed." />

    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes"/>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="API Explorer"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationStartMenuFolder" Name="API Explorer"/>
      </Directory>
    </Directory>

    <UI>
        <UIRef Id="WixUI_InstallDir" />
        <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Api Explorer" />

    <Property Id="WixShellExecTarget" Value="[#ApiExplorer.Exe]" />
    <CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />
    
    <!--<UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />-->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <Feature Id="ProductFeature" Title="API Explorer" Description="The complete Mason API Explorer" 
             Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ApiExplorer.Exe" Guid="{2E1E4A57-E453-4265-988F-56C0F69229B4}">
        <File Id="ApiExplorer.Exe" Name="APIExplorer.exe" Source="$(var.ApiExplorer.TargetPath)"/>
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="{D7BA0FA7-2E17-4383-9023-8A6B9930C9F8}">
        <File Id="Newtonsoft.Json.dll" Source="$(var.ApiExplorer.TargetDir)\Newtonsoft.Json.dll"/>
      </Component>
      <Component Id="ApiExplorer.exe.config" Guid="{63217782-8C9B-481F-A526-021F68EF298A}">
        <File Id="ApiExplorer.exe.config" Source="$(var.ApiExplorer.TargetDir)\ApiExplorer.exe.config"/>
      </Component>
      <Component Id="GalaSoft.MvvmLight.Extras.WPF4.dll" Guid="{1A92018D-2F63-4894-9CB3-D61CAE21FC4A}">
        <File Id="GalaSoft.MvvmLight.Extras.WPF4.dll" Source="$(var.ApiExplorer.TargetDir)\GalaSoft.MvvmLight.Extras.WPF4.dll"/>
      </Component>
      <Component Id="GalaSoft.MvvmLight.WPF4.dll" Guid="{DCC77D81-2619-4111-810A-6BB5DE5BAF4C}">
        <File Id="GalaSoft.MvvmLight.WPF4.dll" Source="$(var.ApiExplorer.TargetDir)\GalaSoft.MvvmLight.WPF4.dll"/>
      </Component>
      <Component Id="log4net.dll" Guid="{8ACE14A0-1D55-4480-9141-BBF8480718FD}">
        <File Id="log4net.dll" Source="$(var.ApiExplorer.TargetDir)\log4net.dll"/>
      </Component>
      <Component Id="MasonBuilder.Net.dll" Guid="{1AAF9128-AA99-4B25-8831-7143B5B9F5B8}">
        <File Id="MasonBuilder.Net.dll" Source="$(var.ApiExplorer.TargetDir)\MasonBuilder.Net.dll"/>
      </Component>
      <Component Id="Microsoft.Practices.Composite.dll" Guid="{BC33DC26-42A0-46E9-95D1-D1EA69E4A88F}">
        <File Id="Microsoft.Practices.Composite.dll" Source="$(var.ApiExplorer.TargetDir)\Microsoft.Practices.Composite.dll"/>
      </Component>
      <Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="{D472B4AD-EB71-4C7C-B401-5A4498A485CE}">
        <File Id="Microsoft.Practices.ServiceLocation.dll" Source="$(var.ApiExplorer.TargetDir)\Microsoft.Practices.ServiceLocation.dll"/>
      </Component>
      <Component Id="Microsoft.Practices.Composite.Presentation.dll" Guid="{33B2AB75-70A9-4687-9A87-5919A48E26C5}">
        <File Id="Microsoft.Practices.Composite.Presentation.dll" Source="$(var.ApiExplorer.TargetDir)\Microsoft.Practices.Composite.Presentation.dll"/>
      </Component>
      <Component Id="Ramone.dll" Guid="{C3111273-C0D6-415C-BDA7-2198EBA84BEA}">
        <File Id="Ramone.dll" Source="$(var.ApiExplorer.TargetDir)\Ramone.dll"/>
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="{31935662-75DE-437E-909F-4BCB662B2E61}">
        <File Id="System.Windows.Interactivity.dll" Source="$(var.ApiExplorer.TargetDir)\System.Windows.Interactivity.dll"/>
      </Component>
      <Component Id="jose_jwt.dll" Guid="{6BD1D132-8408-43F5-AA1C-CF87370B25C7}">
        <File Id="jose_jwt.dll" Source="$(var.ApiExplorer.TargetDir)\jose-jwt.dll"/>
      </Component>
      <Component Id="HtmlAgilityPack.dll" Guid="{7C3D61F8-F56D-4560-9F12-C49D3400B641}">
        <File Id="HtmlAgilityPack.dll" Source="$(var.ApiExplorer.TargetDir)\HtmlAgilityPack.dll"/>
      </Component>
      <Component Id="CuttingEdge.Conditions.dll" Guid="{71290E33-3B06-4B35-98BD-B037E4F63756}">
        <File Id="CuttingEdge.Conditions.dll" Source="$(var.ApiExplorer.TargetDir)\CuttingEdge.Conditions.dll"/>
      </Component>
      <Component Id="Resta.UriTemplates.dll" Guid="{CAC7356F-4814-4035-9923-9A64A14F2E79}">
        <File Id="Resta.UriTemplates.dll" Source="$(var.ApiExplorer.TargetDir)\Resta.UriTemplates.dll"/>
      </Component>
    </ComponentGroup>
    
    <Component Id="ApplicationShortcut" Directory="ApplicationStartMenuFolder" Guid="{80AB7ED0-319C-4A73-AD0E-A15065A61AFD}">
      <Shortcut Id="ApplicationStartMenuShortcut" Name="API Explorer"
                Target="[INSTALLFOLDER]ApiExplorer.exe" WorkingDirectory="INSTALLFOLDER"/>
      <RemoveFolder Id="ApplicationStartMenuFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                     Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Product>
</Wix>