<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">Data Source=|DataDirectory|\IssueTracker.db</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="query.substitutions">true=1;false=0</property>
    </session-factory>
  </hibernate-configuration>
  
  <log4net configSource="Log4Net.config" />

  <appSettings>
    <add key="Database.Filename" value="App_Data\IssueTracker.db"/>
    <add key="Attachment.MaxFileSize" value="2000"/>
    <add key="Application.Lifetime" value="15"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" />
    </httpHandlers>
    <httpModules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet" />
    </httpModules>
    <httpRuntime maxRequestLength="10000" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </modules>
    <handlers>
      <add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" />
    </handlers>
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="openrasta" switchValue="All">
        <listeners>
          <add name="ErrorEventLog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
    <sharedListeners>
      <add name="ErrorEventLog" type="Mason.IssueTracker.Server.Utility.Log4NetTraceListener, Mason.IssueTracker.Server" />
    </sharedListeners>
  </system.diagnostics>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
